# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Other
*.swp
